@import url('./asset/style/_setting.css');
@import url('./asset/style/_global.css');
@import url('./asset/style/_template.css');
@import url('./asset/style/_header.css');
@import url('./asset/style/_nav.css');
@import url('./asset/style/_footer.css');
@import url('./asset/style/card/_card.css');
@import url('./asset/style/_detail.css');
@import url('./asset/style/_skeleton.css  ');
/* @import url('./asset/style'); */


.logo{
  min-width: 10%;
  max-width: 190px;
}
.searchBox {
  border-radius: 0 10px;
  background-color: white;
  padding: 0 5px;
  align-items: flex-start;
}
#searchPut{
  border: none;
  outline: none;
}

.main-header{
  background-color: rgb(15, 14, 14);
  height: 3em;
}
.swiper{
  grid-gap: 10px;
}
/* .card{
  width: calc(100%/5.5);
  height: calc(100%/2.5);
  padding: 20px;
  background-color: rgb(134, 134, 255);
  margin-bottom: 20px;
} */
