@import url('./asset/style/_setting.css');
@import url('./asset/style/_global.css');
@import url('./asset/style/_template.css');
@import url('./asset/style/_header.css');
@import url('./asset/style/_nav.css');
@import url('./asset/style/_footer.css');
@import url('./asset/style/card/_card.css');
@import url('./asset/style/_detail.css');
@import url('./asset/style/_skeleton.css  ');
@import url('./asset/style/_search.css');
@import url('./asset/style/_home.css');
@import url('./asset/style/_genre.css');
@import url('./asset/style/_track.css');
/* @import url('./asset/style'); */








.swiper{
  grid-gap: 10px;
}
/* .card{
  width: calc(100%/5.5);
  height: calc(100%/2.5);
  padding: 20px;
  background-color: rgb(134, 134, 255);
  margin-bottom: 20px;
} */
