.detail-page{
    /* position: relative; */
}
.detail-top{
    /* position: absolute; */
    /* width: 100%; */
}
.detail-content{
    grid-template-rows: 45% auto;
}
.detail-header{
    background-color:rgba(0, 0, 0, 0.5);
}
.detail-header >*{
    height: 90%;
}
.detail-album{
    grid-auto-rows: 100%;
    align-items: center;
    gap: 20px;
}

.detail-album >* {
    height: 100%;
}

.detail-cover {
    /* height: 100%; */
}
.detail-desc{
    overflow: auto;
}
/* ***************************** */

/* ol{
    display: grid;
    gap: 20px;
} */