.detail-page{
    grid-template-rows: 45% auto;
}
.detail-header{
    background-color:rgba(0, 0, 0, 0.5);
}
.detail-header >*{
    height: 90%;
}
.detail-album{
    grid-auto-rows: 100%;
    align-items: center;
    gap: 20px;
}

.detail-album >* {
    height: 100%;
}

.detail-cover {
    /* height: 100%; */
}
.detail-desc{
    overflow: auto;
}
/* ***************************** */
.track-item {
    gap: 15px;
    align-items: center;
    border-radius: 10px;
    user-select: none;
}
.track-item:hover{
    background: gray;
}
.track-name span{
    font-size: 0.9em;
    cursor: pointer;
}
.track-name span:hover{
    text-decoration: underline;
}
.sounds h2,.track-item{
    padding: 5px 15px;
}
/* ol{
    display: grid;
    gap: 20px;
} */