.flex {
    display: flex;
    align-items: center;
}

.grid-row {
    grid-auto-flow: row;
    display: grid;
}

.elips {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.grid-col {
    grid-auto-flow: column;
    display: grid;
}

.center {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}