.card{
    grid-template-rows: 70% 30%;
    /* **** */
    padding: 10px;
    /* background-color: rgb(134, 134, 255); */
    background-color: rgb(52, 50, 50);
    box-shadow: 1px 1px 10px black;
  }
  .img-cover,.card,.card .skeleton{
    border-radius: 10px;
  }